    @media only screen and (max-width: 1199px) {
        .itallaplist tr th{
            padding-right: 0 !important;
            font-size: 111%;
        }
        .conText {
            display: flex;
            font-size: 3rem;
            color: white !important;
        }
        .conImg {
            width: auto;
            height: 5rem;
            margin-right: 30px;
            filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
        }
        .mapDiv {
            display: flex;
            justify-content: center;
            align-content: center;
            padding-left: 0;
            margin: 0;
            margin-bottom: 4rem;
        }
        .mapFrame {
            border-radius: 1rem;
            border: none;
            width: 100%;
            height: 720px;
        }
    }