@media only screen and (max-width: 700px) {
    .h1jobb {
        font-size: 250%;
    }
    .h1bal {
        font-size: 250%;
    }
    .h1bal-m {
        font-size: 250%;
    }
    .h1center {
        font-size: 250%;
    }
    .h2jobb {
        font-size: 200%;
    }
    .h2bal {
        font-size: 200%;
    }
    .rendezvenyektext {
        font-size: 125%;
    }
    .rolunktextjobb {
        font-size: 125%;
    }
    .rolunktextbal {
        font-size: 125%;
    }
    .itallaplist tr th {
        font-size: 125%;
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .conText {
        margin-left: 1rem;
        font-size: 1.6rem;
    }
    .conImg {
        width: auto;
        height: 3.8rem;
    }
    .footerTail{
        font-size: 125%;
        margin-top: 3rem;
    }
    .footerContent {
        font-size: 100%;
    }
    .footerlogofelirat {
        color: white !important;
        font-size: 125%;
    }
    .footerimgSm{
        width: auto;
        height: 5rem;
    }
}